In [12]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPRegressor
from sklearn.tree import DecisionTreeRegressor

In [2]:
train_d = pd.read_csv('/home/igel/Downloads/all/train.csv')
test_d  = pd.read_csv('/home/igel/Downloads/all/test.csv')

In [3]:
train_d.head(3)

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
0,1,2011-08-20,43,27.0,4.0,NaN,NaN,NaN,NaN,NaN,...,9,4,0,13,22,1,0,52,4,5850000
1,2,2011-08-23,34,19.0,3.0,NaN,NaN,NaN,NaN,NaN,...,15,3,0,15,29,1,10,66,14,6000000
2,3,2011-08-27,43,29.0,2.0,NaN,NaN,NaN,NaN,NaN,...,10,3,0,11,27,0,4,67,10,5700000

In [4]:
test_d.head(3)

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,cafe_count_5000_price_1500,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000
0,30474,2015-07-01,39.0,20.7,2,9,1,1998.0,1,8.9,...,8,0,0,0,1,10,1,0,14,1
1,30475,2015-07-01,79.2,NaN,8,17,1,0.0,3,1.0,...,4,1,1,0,2,11,0,1,12,1
2,30476,2015-07-01,40.5,25.1,3,5,2,1960.0,2,4.8,...,42,11,4,0,10,21,0,10,71,11

In [5]:
train_features = train_d.drop(columns = ['price_doc'])
whole_data  = pd.concat([test_d, train_features])

In [6]:
whole_data_without_NaN = whole_data.dropna(axis=1)

In [7]:
for col in whole_data_without_NaN.columns:
    if whole_data_without_NaN[col].dtype=='object':
        print(col)
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(whole_data_without_NaN[col].values))
        whole_data_without_NaN[col] = lbl.transform(list(whole_data_without_NaN[col].values))

timestamp
sub_area
culture_objects_top_25
thermal_power_plant_raion

/home/igel/.local/lib/python3.5/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

incineration_raion
oil_chemistry_raion
radiation_raion
railroad_terminal_raion
big_market_raion
nuclear_reactor_raion
detention_facility_raion
water_1line
big_road1_1line
railroad_1line
ecology

In [8]:
train  =  whole_data_without_NaN.iloc[:train_d.shape[0],:]
test   = whole_data_without_NaN.iloc[train_d.shape[0]:,:]
target =  train_d['price_doc']

In [9]:
print('data without NaN ---', whole_data_without_NaN.shape)
print('original train   ---', train_d.shape)
print('original test    ---', test_d.shape)
print('terminal train   ---', train.shape)
print('terminal test    ---', test.shape)
print('price doc        ---', target.shape)

data without NaN --- (38133, 238)
original train   --- (30471, 292)
original test    --- (7662, 291)
terminal train   --- (30471, 238)
terminal test    --- (7662, 238)
price doc        --- (30471,)

In [21]:
LR  = LinearRegression()
MLP = MLPRegressor()
TR  = DecisionTreeRegressor()

In [23]:
LR.fit(train, target)
MLP.fit(train, target)
TR.fit(train, target)

pr1 = LR.predict(test)
pr2 = MLP.predict(test)
pr3 = TR.predict(test)

In [30]:
predicted_price = np.mean([pr1, pr2, pr3], axis = 0)

In [10]:
from sklearn.pipeline import FeatureUnion, Pipeline

In [19]:
models = [('LinearReg', LinearRegression()),
          ('NNReg',  MLPRegressor()) ,
          ('TreeReg', DecisionTreeRegressor())]

In [20]:
models_union = FeatureUnion(models)

TypeError: All estimators should implement fit and transform. 'LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)' (type <class 'sklearn.linear_model.base.LinearRegression'>) doesn't